/* ===================================
   EVERYTHING
   =================================== */
* {
    font-family: 'JetBrains Mono';
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

h1 {

}

h2 {

}

h3 {

}

/* ===================================
   CONTAINER
   =================================== */
.container {
    display: grid;
    grid-template-columns: 1fr 4.75fr;

}

/* ===================================
   HEADER
   =================================== */
.header {
    grid-area: 1 / 2 / 2 / 3;
}

/* ===================================
   SIDEBAR
   =================================== */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 5fr 10fr;
    background: #1992d4;
}

/* ===================================
   MAIN
   =================================== */
.main {
    grid-area: 2 / 2 / 3 / 3;
    background: #e2e8f0;
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 2.25fr 1fr;
}

.card{
    background: magenta; /* change to some off white after building */
}

/* ===================================
   projects
   =================================== */
.main .projects .content{
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.projects .card {
    border-radius: 8px;
    padding: 20px 30px;
    border-left: solid 10px darkgoldenrod;
}

.projects .icons {
    display: grid;
    grid-template-columns: 6fr repeat(3, 1fr);
}

.icon-placeholder1 {
    grid-column: 2 / 3;
}

.icon-placeholder2 {
    grid-column: 3 / 4;
}

.icon-placeholder3 {
    grid-column: 4 / 5;
}

/* ===================================
   announcements
   =================================== */
.main .announcements {
    grid-area: 1 / 2 / 2 / 3;
}

/* ===================================
   trending
   =================================== */
.main .trending {
    grid-area: 2 / 2 / 3 / 3;
}