/* ===================================
  |EVERYTHING
   =================================== */
* {
    font-family: 'JetBrains Mono';
}

/* ===================================
  |MAIN CONTAINER
   =================================== */
.container {
    display: grid;
    grid-template-columns: 1fr 4.75fr;
}

/* ===================================
  |HEADER
   =================================== */
.header {
    grid-area: 1 / 2 / 2 / 3;
}

/* ===================================
  |SIDEBAR
   =================================== */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
}

/* ===================================
  |MAIN
   =================================== */
.main {
    grid-area: 2 / 2 / 3 / 3;
}