/* ===================================
   EVERYTHING
   =================================== */
* {
    font-family: 'JetBrains Mono';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --h1-font-size: 1.75em;
    --h2-font-size: 1.45em;
    --h3-font-size: 1.1em;
    --h4-font-size: 0.8em;
    --card-color: #f5f5f5;
    --border-radius: 8px;
    --box-shadow: 0 4px 6px 0 rgb(0, 0, 0, 0.2);
    --main-background: #e2e8f0;
}

ul {
    list-style-type: none;
    }

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

/* ===================================
   CONTAINER
   =================================== */
.container {
    display: grid;
    grid-template-columns: 1fr 4.75fr;
}

/* ===================================
   HEADER
   =================================== */
.header {
    grid-area: 1 / 2 / 2 / 3;
}

/* ===================================
   SIDEBAR
   =================================== */
.sidebar {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: auto;
    /* grid-template-rows: 1fr 5fr 5fr; */
    background: #1992d4;
    padding: 15px;
    gap: 25px;
}

.sidebar .icon {
    height: 2em;
    width: auto;
}

.sidebar .title {
    font-size: var(--h1-font-size);
    font-weight: 700;
    color: white;
    align-items: center;
}

.sidebar .nav,
.sidebar .settings {
    padding-left: 15px;
}

.sidebar li {
    font-size: var(--h2-font-size);
    padding: 15px 0px;
    color: var(--card-color);
    font-weight: 450;
}

.sidebar li span {
    vertical-align: middle;
    padding-left: 15px;
}

.sidebar svg {
    fill: var(--card-color);
    vertical-align: middle;
}

/* ===================================
   MAIN
   =================================== */
.main {
    grid-area: 2 / 2 / 3 / 3;
    background: var(--main-background);
    padding: 20px;
    gap: 20px;
    display: grid;
    grid-template-columns: 2.25fr .9fr;
}

.card {
    background: var(--card-color); 
}

.main h2 {
    padding-bottom: 10px;
}

/* ===================================
   projects
   =================================== */
.main .projects {
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
}

.projects .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    align-items: start;
}

.projects .card {
    border-radius: var(--border-radius);
    padding: 20px 30px;
    height: 225px;
    border-left: solid 10px darkgoldenrod;
    box-shadow: var(--box-shadow);
}

.projects .title {
    font-weight: 700;
    font-size: 1.1em;
}

.projects .icons {
    display: grid;
    grid-template-columns: 6fr repeat(3, 1fr);
}

.icon-placeholder1 {
    grid-column: 2 / 3;
}

.icon-placeholder2 {
    grid-column: 3 / 4;
}

.icon-placeholder3 {
    grid-column: 4 / 5;
}

/* ===================================
   announcements
   =================================== */
.main .announcements {
    grid-area: 1 / 2 / 2 / 3;
}

.announcements hr {
    width: 80%; 
    margin: auto;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--main-background);
}

.announcements .card,
.announcements .card-container {
    background: var(--card-color);
    border-radius: var(--border-radius);
}

.announcements .card-container {
    box-shadow: var(--box-shadow);
}

.announcements .card {
    padding: 20px 30px;
}

.announcements .title {
    font-size: var(--h3-font-size);
    font-weight: 700;
    padding-bottom: 5px;
}

.announcements .card>p {
    font-size: var(--h4-font-size);
}

/* ===================================
   trending
   =================================== */
.main .trending {
    grid-area: 2 / 2 / 3 / 3;
}